<div class="ui-modal">

  <!-- CONTENT -->
  <div class="ui-modal-content">
    <ng-container #container></ng-container>
  </div>

  <!-- FOOTER -->
  <div class="ui-modal-footer">

    @if (showCancel()) {
      <ui-button
        [label]="cancelLabel()"
        [color]="'secondary'"
        [disabled]="disableCancel()"
        (onClick)="onCancel()">
      </ui-button>
    }

    @if (showPrimary()) {
      <ui-button
        [label]="primaryLabel()"
        [color]="'primary'"
        [disabled]="disablePrimary()"
        (onClick)="onPrimary()">
      </ui-button>
    }

  </div>

</div>