<div class="ui-modal">

  <!-- HEADER -->
  <div class="ui-modal-header">
    <h3 class="m-0 flex-1">
      {{ title }}
    </h3>

    <ui-icon-button
      icon="pi pi-times"
      color="danger"
      (onClick)="close()">
    </ui-icon-button>
  </div>

  <!-- CONTENT -->
  <div class="ui-modal-content">
    <ng-container #container></ng-container>
  </div>

  <!-- FOOTER -->
  <div class="ui-modal-footer">

    <ui-button
      [label]="footer.cancelLabel || 'Cancelar'"
      [color]="'secondary'"
      (onClick)="onCancel()">
    </ui-button>

    <ui-button
      [label]="footer.primaryLabel || 'Guardar'"
      [color]="'primary'"
      (onClick)="onPrimary()">
    </ui-button>

  </div>

</div>