@if (loading()) {
    <app-ui-loading></app-ui-loading>
}
@else {
    <div class="flex flex-column gap-5">
    
        <div class="flex align-items-center justify-content-between">
            <span
                class="flex align-items-center gap-2 px-3 py-1 border-round-3xl text-xs font-medium bg-green-100 text-green-700">
                <i class="pi pi-shield"></i>
                Acceso seguro
            </span>
    
            <div class="flex align-items-center justify-content-center border-round-xl bg-blue-700 w-3rem h-3rem shadow-2">
                <i class="pi pi-id-card text-xl text-white"></i>
            </div>
        </div>
    
        <div class="flex flex-column gap-3">
            <span class="text-3xl font-bold text-900">
                Verificación de identidad
            </span>
            <span class="text-600 line-height-3">
                Para continuar, por favor ingresa tu número de documento. Esto nos ayudará a verificar tu identidad y garantizar la seguridad de tu cuenta.
            </span>
        </div>
        <p-divider class="my-1"></p-divider>
        <div class="flex flex-column gap-4" [formGroup]="formLogin">
    
            <!-- Documento + botón (alineado al centro) -->
            <div class="flex gap-2 align-items-center">
                <div class="flex-1">
                    <ui-input label="Número de documento" formControlName="userName" [maxlength]="maxLengthUserName"
                        [minlength]="minLengthUserName" [expReg]="expRegLockInputUserName" classInput="h-4rem w-full">
                    </ui-input>
                </div>
    
                <ui-button icon="pi pi-search" styleClass="h-4rem px-3 flex align-items-center justify-content-center" (onClick)="buscarRolesAsignados()">
                </ui-button>
            </div>

            @if (visibleInputCorreo) {

            <div class="flex flex-column gap-4">
                <ui-input label="Correo electrónico" formControlName="correo" classInput="h-4rem w-full">
                </ui-input>
            </div>
    
            } @else {

            <div class="flex align-items-center gap-3 p-4 border-round-xl shadow-1 mt-2"
                style="background: linear-gradient(135deg, #eef2ff, #e0f2fe);">
    
                <i class="pi pi-id-card text-2xl text-primary"></i>
    

                <div class="flex flex-column">
                    <span class="font-semibold text-800">
                        Completa tu información
                    </span>
                    <small class="text-600">
                        Ingresa tu número de documento para continuar y registrar tu correo electrónico de forma segura.
                    </small>
                </div>
            </div>
    
            }
    
            <!-- Botón continuar -->
            <div class="flex justify-content-end pt-2">
                <ui-button label="Continuar" icon="pi pi-arrow-right" [disabled]="formLogin.invalid" styleClass="px-4 py-2"
                (onClick)="irAPasoSiguiente()">
                </ui-button>
            </div>
    
        </div>
    
    
    </div>
}