@if (loading()) {
    <app-ui-loading></app-ui-loading>
}

<div class="flex gap-3 align-items-start">
    <div class="flex-1 min-w-0 overflow-x-auto">
        <div class="space-y-4">
            <!-- <pre> {{tramitesFiltrados() | json}} </pre> -->
            <p-table #dt size="small" [value]="tramitesFiltrados()" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[5, 10, 25]" [globalFilterFields]="[
            'codigoExpediente',
            'nombreSolicitante',
            'apePaternoSolicitante',
            'apeMaternoSolicitante',
            'tipoSolicitante',
            'nombreSubcategoriaTramite',
            'fechaTramiteCreacion',
            'estado'
        ]" [sortMode]="'single'" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines shadow-2 border-round-xl overflow-hidden">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row gap-3 md:align-items-center md:justify-content-between">

                        <div class="flex align-items-center gap-2 flex-wrap">
                            <p-tag [value]="listTramite().length + ' trámite(s)'" severity="info" [rounded]="true"
                                icon="pi pi-list">
                            </p-tag>
                            <ui-select [options]="estadoOpciones" placeholder="Filtrar por estado"
                                [ngModel]="selectedEstado()" (ngModelChange)="onEstadoChange($event)">
                            </ui-select>
                            <ui-select [options]="subCategoriaOpciones()" placeholder="Filtrar por cod. subcategoria"
                                [ngModel]="selectedCodigoSubCategoria()" (ngModelChange)="onSubCategoriaChange($event)">
                            </ui-select>
                        </div>

                        <div class="flex align-items-center gap-2 flex-shrink-0 flex-nowrap">
                            <p-iconField iconPosition="left" class="w-full">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>

                                <input pInputText type="text" class="w-full"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Buscar trámite..." />
                            </p-iconField>
                            <ui-button label="Exportar Excel" icon="pi pi-file-excel" color="success"
                                styleClass="white-space-nowrap flex-shrink-0" [style]="{ 'white-space': 'nowrap' }"
                                (onClick)="exportarExcel()">
                            </ui-button>
                            <ui-button label="Nuevo Trámite" icon="pi pi-plus"
                                styleClass="white-space-nowrap flex-shrink-0" [style]="{ 'white-space': 'nowrap' }"
                                (onClick)="openGenerarTramiteDrawer(selectTramiteDefault)">
                            </ui-button>
                        </div>

                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="codigoExpediente"> N° Expediente <p-sortIcon
                                field="codigoExpediente"></p-sortIcon> </th>
                        <th pSortableColumn="nombreSolicitante"> Solicitante <p-sortIcon
                                field="nombreSolicitante"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tipoSolicitante"> Rol <p-sortIcon field="tipoSolicitante"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nombreSubcategoriaTramite"> Tipo SubCategoria <p-sortIcon
                                field="nombreSubcategoriaTramite"></p-sortIcon> </th>
                        <th pSortableColumn="fechaTramiteCreacion"> Fecha <p-sortIcon
                                field="fechaTramiteCreacion"></p-sortIcon></th>
                        <th pSortableColumn="estado"> Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th class="text-center"> Acciones </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-tramite>
                    <tr>
                        <td>
                            <span class="font-medium text-sm">
                                {{ tramite.codigoExpediente }}
                            </span>
                        </td>

                        <td>
                            <div class="flex flex-column">
                                <span class="font-medium text-sm">
                                    {{ getSolicitanteNombreCompleto(tramite) }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <p-tag [value]="getRolConfig(tramite.tipoSolicitante).label"
                                [severity]="getRolConfig(tramite.tipoSolicitante).severity"
                                [icon]="getRolConfig(tramite.tipoSolicitante).icon">
                            </p-tag>
                        </td>

                        <td>
                            <span class="text-sm"> {{ tramite.nombreSubcategoriaTramite }} </span>
                        </td>

                        <td>
                            <span class="text-sm">{{ tramite.fechaTramiteCreacion | date:'dd/MM/yyyy HH:mm:ss' }}</span>
                        </td>

                        <td>
                            <p-tag [value]="getEstadoConfig(tramite.estado).label"
                                [severity]="getEstadoConfig(tramite.estado).severity"
                                [icon]="getEstadoConfig(tramite.estado).icon">
                            </p-tag>
                        </td>

                        <td>
                            <div class="flex justify-content-start">
                                <ui-icon-button icon="pi pi-hourglass" tooltip="Ver Línea de Tiempo" color="success"
                                    (onClick)="viewTimeLine(tramite)"></ui-icon-button>
                                <ui-icon-button icon="pi pi-eye" tooltip="Ver detalle"
                                    (onClick)="openModal(tramite, 'detalle')"></ui-icon-button>
                                <ui-icon-button icon="pi pi-list-check" tooltip="Ver Encuesta"
                                    (onClick)="openModal(tramite, 'encuesta')" color="contrast"></ui-icon-button>
                                @if (tramite.estado === 'INGRESADO') {
                                <ui-icon-button icon="pi pi-ban" tooltip="Anular trámite" color="danger"
                                    (onClick)="anularTramite(tramite)"></ui-icon-button>
                                }
                                <ui-icon-button icon="pi pi-pencil" tooltip="Editar trámite" color="info"
                                    (onClick)="openGenerarTramiteDrawer(tramite)"></ui-icon-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7" class="text-center p-5">
                            <app-ui-card-no-items message="No se encontraron trámites"> </app-ui-card-no-items>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div><!-- /space-y-4 -->
    </div><!-- /flex-1 -->

    @if (visibleTimeLine()) {
    <div class="flex-shrink-0" style="width: 380px; position: sticky; top: 1rem;">
        <app-time-line-tramite (close)="closeTimeLine()"></app-time-line-tramite>
    </div>
    }
</div><!-- /flex split-view -->

<p-drawer [visible]="visibleGenerarTramiteDrawer()" (visibleChange)="visibleGenerarTramiteDrawer.set($event)"
    [showCloseIcon]="false" position="full" styleClass="tramite-fullscreen-drawer">
    @if (visibleGenerarTramiteDrawer()) {
    <app-generar-tramite [idTramite]="selectTramite().idTramite" (closeRequested)="closeGenerarTramiteDrawer()"></app-generar-tramite>
    }
</p-drawer>